
[Desktop Entry]
Encoding=UTF-8
Name=Notepadqq
Name[it_IT]=Notepadqq
GenericName=Notepadqq source code editor
GenericName[it_IT]=Editor di codice sorgente Notepadqq
Comment=Edit source code files
Comment[it_IT]=Modifica codici sorgenti
Exec=notepadqq
Terminal=false
Type=Application
StartupNotify=false
MimeType=text/plain;text/html;text/x-php;text/x-c;text/x-shellscript;
Icon=/usr/share/icons/hicolor/scalable/apps/notepadqq.svg
Categories=Development;Utility;TextEditor;
