language: cpp
dist: trusty
sudo: required
os:
  - linux
env:
  - NQQ_VERSION=${TRAVIS_TAG:-${TRAVIS_COMMIT}}
before_install:
  - sudo add-apt-repository ppa:beineri/opt-qt58-trusty -y
  - sudo apt-get -qq update
  - sudo apt-get install -y qt58base qt58webengine qt58svg qt58tools; source /opt/qt58/bin/qt58-env.sh;
script:
  - "./configure --qmake qmake --lrelease lrelease && make"
  - "./src/ui-tests/ui-tests"
before_deploy:
  - "mv out/release out/notepadqq-${NQQ_VERSION}-linux-x64 && tar -zcf notepadqq-${NQQ_VERSION}-linux-x64.tar.gz -C out notepadqq-${NQQ_VERSION}-linux-x64"
deploy:
  provider: releases
  api_key:
    secure: OCEuXR1a2dDHKKQpnOeSoeWZeL0clf0eVUZt5QbrnkyvL3/iUHXjYbdVBEGrbuldffLy9YOC63viqh/r7Ak+7k/suG1BxwGczbvtMBvRyUOOI48YX90Ss+JUcpvJVNLoirDqA1hPMho5Rmydu+DFRlpjADfg3KtZZZA+8Xz8Uek=
  file: "notepadqq-${NQQ_VERSION}-linux-x64.tar.gz"
  skip_cleanup: true
  on:
    repo: notepadqq/notepadqq
    tags: true
