language: cpp
sudo: false

jobs:
  allow_failures:
    - env: NQQ_BUILD_TYPE=FORMAT
  include:
    - stage: build
      env: NQQ_BUILD_TYPE=FORMAT
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-6.0
            - ubuntu-toolchain-r-test
          packages:
            - clang-format-6.0
    - stage: build
      env: NQQ_BUILD_TYPE=COMPILE
      sudo: true
      services:
        - docker

script:
  - .travis/script.sh
