language: cpp
dist: trusty
sudo: required
os:
  - linux
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y qtbase5-dev libqt5webkit5-dev libqt5svg5-dev qttools5-dev-tools
script:
  - ./configure && make
  - ./src/ui-tests/ui-tests
