language: cpp
dist: trusty
sudo: required
os:
  - linux
env:
  - MODE=BUILD     NQQ_VERSION=${TRAVIS_TAG:-${TRAVIS_COMMIT}}
  - MODE=APPIMAGE  NQQ_VERSION=${TRAVIS_TAG:-${TRAVIS_COMMIT}}
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y qtbase5-dev libqt5webkit5-dev libqt5svg5-dev qttools5-dev-tools
  - if [ "$MODE" = "APPIMAGE" ]; then sudo apt-get install -y --no-install-recommends fuse build-essential wget git libxcb-* libxi-dev libxrender-dev libsm-dev libice-dev libx11-dev libxcomposite-dev libpng12-dev libsqlite3-dev libfontconfig1-dev libfreetype6-dev libjpeg-dev zlib1g-dev libicu-dev libglib2.0-dev libgl1-mesa-dev; fi
  - git pull --depth=500
script:
  - if [ "$MODE" = "BUILD" ]; then ./configure && make; fi
  - if [ "$MODE" = "BUILD" ]; then ./src/ui-tests/ui-tests; fi
  - if [ "$MODE" = "APPIMAGE" ]; then bash ./build-appimage.sh; fi
after_success:
  - if [ "$MODE" = "APPIMAGE" ]; then ( mkdir out ; cd out ; tar cfJ fltk-dialog-x86_64_linux.tar.xz ../fltk-dialog ); fi
  - if [ "$MODE" = "APPIMAGE" ]; then wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh; fi
  - if [ "$MODE" = "APPIMAGE" ]; then bash ./upload.sh out/notepadqq-*.AppImage; fi
before_deploy:
  - if [ "$MODE" = "BUILD" ]; then mv out/release out/notepadqq-${NQQ_VERSION}-linux-x64 && tar -zcf notepadqq-${NQQ_VERSION}-linux-x64.tar.gz -C out notepadqq-${NQQ_VERSION}-linux-x64; fi
deploy:
  provider: releases
  api_key:
    secure: OCEuXR1a2dDHKKQpnOeSoeWZeL0clf0eVUZt5QbrnkyvL3/iUHXjYbdVBEGrbuldffLy9YOC63viqh/r7Ak+7k/suG1BxwGczbvtMBvRyUOOI48YX90Ss+JUcpvJVNLoirDqA1hPMho5Rmydu+DFRlpjADfg3KtZZZA+8Xz8Uek=
  file:
    - "notepadqq-${NQQ_VERSION}-linux-x64.tar.gz"
  skip_cleanup: true
  on:
    repo: notepadqq/notepadqq
    tags: true
    condition: "$MODE = BUILD"
branches:
  except:
    - # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous)$/