[Desktop Entry]
Version=1.1
Name=Notepadqq
Name[de_DE]=Notepadqq
Name[fr]=Notepadqq
Name[it_IT]=Notepadqq
Name[hu_HU]=Notepadqq
Name[pl]=Notepadqq
GenericName=Source Code Editor
GenericName[de_DE]=Quelltext-Editor
GenericName[fr]=Éditeur de code source
GenericName[it_IT]=Editor di codice sorgente
GenericName[hu_HU]=Forráskód szerkesztő
GenericName[pl]=Edytor kodu źródłowego
X-GNOME-FullName=Notepadqq Source Code Editor
X-GNOME-FullName[de_DE]=Notepadqq Quelltext-Editor
X-GNOME-FullName[fr]=Notepadqq éditeur de code source
X-GNOME-FullName[it_IT]=Editor di codice sorgente Notepadqq
X-GNOME-FullName[hu_HU]=Notepadqq forráskód szerkesztő
X-GNOME-FullName[pl]=Edytor kodu źródłowego Notepadqq
Comment=Edit source code files
Comment[de_DE]=Quelltext bearbeiten
Comment[fr]=Editer des fichier de code source
Comment[it_IT]=Modifica codici sorgenti
Comment[hu_HU]=Forráskódfájlok szerkesztése
Comment[pl]=Edycja plików z kodem źródłowym
TryExec=notepadqq
Exec=notepadqq %U
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=notepadqq
MimeType=text/plain;text/html;text/x-php;text/x-c;text/x-shellscript;
Icon=notepadqq
Categories=Development;Utility;TextEditor;
Keywords=Text;Editor;Plaintext;Write;
Keywords[ca]=Text;Editor;text simple;escriure;
Keywords[cs]=text;editor;prostý text;psát;psaní;
Keywords[da]=Tekst;Editor;Redigering;Tekstredigering;Skrive;Skriv;
Keywords[de]=Text;Editor;Klartext;Schreiben;
Keywords[el]=Text;Editor;Plaintext;Write;κείμενο;επεξεργαστής;εγγραφή;γράψιμο;
Keywords[en_GB]=Text;Editor;Plaintext;Write;
Keywords[eo]=Teksto;Redaktilo;Plata teksto;Skribi;
Keywords[es]=texto;editor;plano;escribir;
Keywords[eu]=Testua;Editorea;Testu soila;Idatzi;
Keywords[fa]=Text;Editor;Plaintext;Write;ویرایشگر متن;متن;ویرایشگر;نوشتار;
Keywords[fi]=Text;Editor;Plaintext;Write;teksti;muokkain;editori;tekstieditori;tekstimuokkain;
Keywords[fr]=texte brut;éditeur;écrire;
Keywords[fur]=Text;Editor;Test sempliç;Scrivi;
Keywords[gl]=Texto;Editor;Texto plano;Escribir;
Keywords[hr]=Tekst;Uređivač;Izvoran tekst;Piši;
Keywords[hu]=Szöveg;Szerkesztő;Egyszerű szöveg;Írás;
Keywords[id]=Teks;Penyunting;Teks Polos;Tulis;
Keywords[it]=Editor;Testo;Text;Scrivere;
Keywords[ja]=Text;Editor;Plaintext;Write;テキスト;エディター;プレーンテキスト;
Keywords[ko]=Text;텍스트;Editor;편집기;Plaintext;일반텍스트;Write;글쓰기;작성;지에디트;
Keywords[lt]=Tekstas;Redaktorius;Grynasis tekstas;Rašymas;
Keywords[lv]=Teksts;Redaktors;Vienkāršs teksts;Rakstīt;
Keywords[nb]=Tekst;Redigering;Vanlig tekst;Skriv;
Keywords[pa]=ਸ਼ਬਦ;ਟੈਕਸਟ;ਸੰਪਾਦਕ;ਐਡੀਟਰ;ਪਲੇਨਟੈਕਸਟ;
Keywords[pl]=Tekst;Text;Edytor;Zwykły tekst;Pisanie;Pisz;Napisz;Write;
Keywords[pt_BR]=Texto;Editor;Texto simples;Plaintext;Escrever;Write;
Keywords[ro]=Text;Editor;Plaintext;Write;Text simplu;Scrie;
Keywords[sr]=Text;Editor;Plaintext;Write;текст;уређивач;обичан текст;писање;tekst;uređivač;običan tekst;pisanje;
Keywords[sv]=Text;Redigerare;Vanlig text;Skriv;
Keywords[tr]=Metin;Düzenleyici;Düzyazı;Yaz;
Keywords[vi]=Text;văn;bản;van;ban;Editor;sửa;sua;soạn;thảo;soan;thao;chữ;chu;Plaintext;Chữ thường;Chu thuong;Write;Ghi;Lưu;Luu;
Actions=Window;Document;

[Desktop Action Window]
Name=Open a New Window
Name[ar]=افتح نافذة جديدة
Name[as]=এটা নতুন উইন্ডো খোলক
Name[be]=Адкрыць новае акно
Name[bg]=Отваряне на нов прозорец
Name[ca]=Obre una finestra nova
Name[ca@valencia]=Obri una finestra nova
Name[crh]=Yañı bir Pencere Aç
Name[cs]=Otevřít nové okno
Name[da]=Åbn et nyt vindue
Name[de]=Ein neues Hauptfenster öffnen
Name[el]=Άνοιγμα ενός νέου παραθύρου
Name[en_GB]=Open a New Window
Name[es]=Abrir una ventana nueva
Name[et]=Uue akna avamine
Name[eu]=Ireki leiho berrira
Name[fa]=باز کردن یک پنجره جدید
Name[fr]=Ouvrir une nouvelle fenêtre
Name[gl]=Abrir unha nova xanela
Name[gu]=નવી વિન્ડોને ખોલો
Name[he]=פתיחת חלון חדש
Name[hi]=एक नया विंडो खोलें
Name[hu]=Új ablak megnyitása
Name[id]=Buka Jendela Baru
Name[it]=Apri una nuova finestra
Name[ja]=新しいウィンドウを開く
Name[ko]=새 창 열기
Name[lt]=Atverti naują langą
Name[lv]=Atvērt jaunu logu
Name[nb]=Åpne et nytt vindu
Name[nl]=Nieuw venster openen
Name[pa]=ਇੱਕ ਨਵੀਂ ਵਿੰਡੋ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz nowe okno
Name[pt]=Abrir uma Nova Janela
Name[pt_BR]=Abrir uma nova janela
Name[ru]=Открыть новое окно
Name[sl]=Odpri novo okno
Name[sr]=Отворите нови прозор
Name[sr@latin]=Otvorite novi prozor
Name[sv]=Öppna ett nytt fönster
Name[te]=కొత్త విండోను తెరు
Name[th]=เปิดหน้าต่างใหม่
Name[tr]=Yeni Pencere Aç
Name[uk]=Створити нове вікно
Name[vi]=Mở cửa sổ mới
Name[zh_CN]=打开新窗口
Name[zh_HK]=開啟新的視窗
Name[zh_TW]=開啟新的視窗
Exec=notepadqq --new-window
OnlyShowIn=Unity;

[Desktop Action Document]
Name=Open a New Document
Name[ar]=افتح مستندا جديدا
Name[as]=এটা নতুন দস্তাবেজ খোলক
Name[be]=Адкрыць новы дакумент
Name[bg]=Отваряне на нов документ
Name[ca]=Obre un document nou
Name[ca@valencia]=Obri un document nou
Name[crh]=Yañı Bir Vesiqa Aç
Name[cs]=Otevřít nový dokument
Name[da]=Åbn et nyt dokument
Name[de]=Ein neues Dokument anlegen
Name[el]=Άνοιγμα ενός νέου εγγράφου
Name[en_GB]=Open a New Document
Name[es]=Abrir un documento nuevo
Name[et]=Uue dokumendi avamine
Name[eu]=Ireki dokumentu berria
Name[fa]=باز کزدن یک سند جدید
Name[fr]=Ouvrir un nouveau document
Name[gl]=Abrir un novo documento
Name[gu]=નવાં દસ્તાવેજને ખોલો
Name[he]=יצירת מסמך חדש
Name[hi]=एक नया दस्तावेज़ बनाएँ
Name[hu]=Új dokumentum megnyitása
Name[id]=Buka Dokumen Baru
Name[it]=Apri un nuovo documento
Name[ja]=新しいドキュメントを作成
Name[ko]=새 문서 열기
Name[lt]=Atverti naują dokumentą
Name[lv]=Atvērt jaunu dokumentu
Name[nb]=Åpne et nytt dokument
Name[nl]=Nieuw document openen
Name[pa]=ਇੱਕ ਨਵਾਂ ਦਸਤਾਵੇਜ਼ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz nowy dokument
Name[pt]=Abrir um Novo Documento
Name[pt_BR]=Abrir um novo documento
Name[ru]=Открыть новый документ
Name[sl]=Odpri nov dokument
Name[sr]=Отворите нови документ
Name[sr@latin]=Otvorite novi dokument
Name[sv]=Öppna ett nytt dokument
Name[te]=కొత్త పత్రమును సృష్టించు
Name[th]=สร้างเอกสารใหม่
Name[tr]=Yeni Belge Aç
Name[uk]=Відкрити новий документ
Name[vi]=Mở tài liệu mới
Name[zh_CN]=打开新文档
Name[zh_HK]=開啟新的文件
Name[zh_TW]=開啟新的文件
Exec=notepadqq
OnlyShowIn=Unity;
