Source: notepadqq
Section: editors
Priority: optional
Maintainer: Daniele Di Sarli <danieleds0@gmail.com>
Build-Depends:
 debhelper (>= 9),
 libqt4-dev,
 libqscintilla2-dev,
 libmagic-dev
Standards-Version: 3.9.5
Homepage: http://notepadqq.sourceforge.net
Vcs-Git: git://github.com/notepadqq/notepadqq.git
Vcs-Browser: https://github.com/notepadqq/notepadqq

Package: notepadqq
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Notepad++ clone for Linux
 Text editor with support for multiple programming
 languages, multiple encodings and plugin support.
 .
 It is based on Scintilla, a syntax-highlight library.
