#!/usr/bin/make -f

%:
	dh ${@} --parallel

override_dh_auto_build:
	cd src/ && qmake-qt4 PREFIX=$(CURDIR)/debian/tmp/usr notepadqq.pro -r -spec linux-g++
	cd src/ && $(MAKE)
	lupdate -no-obsolete src/notepadqq.pro
	lrelease src/notepadqq.pro

override_dh_auto_install:
	cd src/ && $(MAKE) install
	rm -f debian/tmp/usr/share/notepadqq/L10n/*

override_dh_clean:
	dh_clean src/L10n/*.qm
	rm -rf build/

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
