#!/usr/bin/make -f

%:
	dh ${@} --parallel

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build

override_dh_auto_configure:
	lupdate -no-obsolete src/notepadqq.pro
	dh_auto_configure -v -Dsrc -Sqmake_qt4

override_dh_auto_build:
	dh_auto_build -Dsrc

override_dh_auto_install:
	dh_auto_install -Dsrc --destdir=$(CURDIR)/debian/tmp

override_dh_install:
	dh_install --list-missing -Xnotepadqq_en.qm

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
