#!/usr/bin/make -f

%:
	dh ${@} --parallel

override_dh_auto_build:
	lupdate -no-obsolete src/notepadqq.pro
	cd src && qmake-qt4 PREFIX=$(CURDIR)/debian/tmp/usr notepadqq.pro -r -spec linux-g++
	cd src && $(MAKE)

override_dh_auto_install:
	cd src && $(MAKE) install

override_dh_install:
	dh_install --list-missing -Xnotepadqq_en.qm

override_dh_clean:
	dh_clean
	rm -rf build/

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
