@import 'palette.styl'

a
    svg.icon.outbound
        margin-bottom -2px
        margin-left 2px

    img + svg.icon.outbound
        display none

sup
    font-size 0.75em !important

.home .hero
    img
        margin 1.5rem auto !important
    .description
        display none !important
    #main-title
        display none !important

.page a code
    color $accentColor

.navbar
    -webkit-box-shadow 0 4px 4px -4px rgba(0,0,0,0.1)
    -moz-box-shadow 0 4px 4px -4px rgba(0,0,0,0.1)
    box-shadow 0 4px 4px -4px rgba(0,0,0,0.1)

    .logo
        margin-right: 0.5rem;

    .site-name
        font-size 1.25rem

    .repo-link
        margin-left 1rem
